body {
  font-family: "Times New Roman", serif;
  background-color: #333;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

div{
  display:flex;
  flex-direction: column;
  align-items: center;
}

button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ff6392;
  box-shadow: 0 5px #ff0a78;
}
button:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px;
}
button:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #ff6392;

}

p {
  margin: 0;
  text-align: center;
  color: #ff6392;

}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
  color: #ff6392;

}

li {
  margin-bottom: 10px;
  text-align: center;
}

img {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;

}

